<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img height="500" src="assets/one-server.png">
  <h2>I run on the same server as my backend runs on!</h2>
  <h2>This way I don't need an environment variable to tell me where my backend server is, it's at my own path: <b>/</b></h2>
  <h1>You can see the log statement in the terminal or the network call in the 'networks' tab to see that there's a working connection.</h1>
</div>
