<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img height="500" src="assets/proxy.png">
  <h2>My server proxies all calls to /api to the backend!</h2>
  <h2>Since my server can use environment variables, I and my server (container) can stay environment independent!</h2>
  <h1>You can see the log statement in the backend terminal or the network call in the 'networks' tab to see that there's a working connection.</h1>
</div>
